QLineEdit { /* targets all QLineEdit components */
    padding: 1px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: yellow;
    height: 30px;
}
QWidget#Widget > QLabel { /* targets QWidget with object name of Widget and any QLabel components on that widget */
    font-weight: bold;
    font-size: 20px;
}
QPushButton[text="Provide info"] { /* targets QPushButton with text of Provide info */
    color: white;
    background-color: gray;
}
QPushButton#ok_button {
    color: white;
    background-color: green;
}
QPushButton#cancel_button {
    color: white;
    background-color: red;
}